In [2]:
import pandas as pd
data = pd.read_excel('data.xlsx'); data.head()

   Unnamed: 0        종  나이 성별  무게       접수일 중성화 유무      접수장소
0           0  골든 리트리버   1  M  24  20181231      N   제주특별자치도
1           1  골든 리트리버   4  M  30  20181229      N  충청북도 청주시
2           2  골든 리트리버   4  F  20  20181229      U   경기도 시흥시
3           3  골든 리트리버   2  F  21  20181228      N   제주특별자치도
4           4  골든 리트리버   4  F  22  20181228      U  충청북도 충주시

In [3]:
del data['Unnamed: 0']

In [6]:
data.head()

         종  나이 성별  무게       접수일 중성화 유무      접수장소
0  골든 리트리버   1  M  24  20181231      N   제주특별자치도
1  골든 리트리버   4  M  30  20181229      N  충청북도 청주시
2  골든 리트리버   4  F  20  20181229      U   경기도 시흥시
3  골든 리트리버   2  F  21  20181228      N   제주특별자치도
4  골든 리트리버   4  F  22  20181228      U  충청북도 충주시

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161878 entries, 0 to 161877
Data columns (total 7 columns):
종         161878 non-null object
나이        161878 non-null int64
성별        161878 non-null object
무게        161878 non-null int64
접수일       161878 non-null int64
중성화 유무    161878 non-null object
접수장소      161878 non-null object
dtypes: int64(3), object(4)
memory usage: 8.6+ MB

In [5]:
len(data['종'].unique())

149